[submodule "align/django"]
	path = align/django
	url = git@github.com:Robbie1977/django.git
[submodule "align/djangotoolbox"]
	path = align/djangotoolbox
	url = git@github.com:Robbie1977/djangotoolbox.git
[submodule "align/mongodb-engine"]
	path = align/mongodb-engine
	url = git@github.com:Robbie1977/mongodb-engine.git
[submodule "align/pymongo"]
	path = align/pymongo
	url = git@github.com:Robbie1977/mongo-python-driver.git
[submodule "align/mongo"]
	path = align/mongo
	url = git@github.com:Robbie1977/mongo.git
[submodule "NRRDtools"]
	path = NRRDtools
	url = git@github.com:Robbie1977/NRRDtools.git
[submodule "warpScoring"]
	path = warpScoring
	url = git@github.com:Robbie1977/3DwarpScoring.git
