{% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

{% block title %}<h1 align="center">VFB Image Alignment Queue</h1>{% endblock %}
{% load images_extras %}
<!-- Upload form. Note enctype attribute! -->
      <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>
          <p>{{ form.file.label_tag }} {{ form.file }}{{ form.file.errors }}
          </p>
          <p>{{ form.file.help_text }}{{ form.non_orientation_errors }}</p>
          <p>{{ form.orientation.label_tag }} {{ form.orientation.help_text }}<br />{{ form.orientation }}{{ form.orientation.errors }}
          </p>
          <p>{{ form.non_settings_errors }}</p>
          <p>{{ form.settings.label_tag }} {{ form.settings.help_text }}<br />{{ form.settings }}{{ form.settings.errors }}
          </p>
          <p><input type="submit" value="Upload" /></p>
      </form>
{% if align_list %}
  <table class="table" align="center">
    {% for record in align_list %}
      {# {% if record.id == request %}#}
        <TR><TH align="center" >{% if record.complete %}<img src="/static/admin/img/icon-yes.gif" />{% else %}<img src="/static/admin/img/icon-no.gif" />{% endif %}<TH><a href="{% url 'details' record.id %}">{{ record.name }}</a><TH>{% if record.alignment_stage == 0 %}{{ record.alignment_stage|state }}{% else %}{{ record.max_stage|fini }}<TH> queued for {{ record.alignment_stage|state }}{% endif %}
        <!-- <li>{{ record.orig_orientation }}</li> -->
      {# {% endif %}#}
    {% endfor %}
  </table>

{% else %}
    <p>No images to align.</p>
{% endif %}
