{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load images_extras %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">Home</a>
 &rsaquo; <a href="/admin/images/">Images</a>
 &rsaquo; <a href="/admin/images/alignment/">Alignments</a>
 &rsaquo; Upload
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}

<div class="results">

<!-- Upload form. Note enctype attribute! -->
      <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table id="result_list">
        <thead>
        <tr>
          <td>

          </td>
          <td colspan=2>
            {{ form.non_field_errors }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.file.label_tag }}
          </td>
          <td>
            {{ form.file }}
          </td>
          <td>
            {{ form.file.errors }}
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td colspan=2>
            {{ form.file.help_text }}
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td colspan=2>
            {{ form.non_orientation_errors }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.orientation.label_tag }}
          </td>
          <td>
            {{ form.orientation }}
          </td>
          <td>
            {{ form.orientation.errors }}
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td colspan=2>
            {{ form.orientation.help_text }}
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td colspan=2>
            {{ form.non_settings_errors }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.settings.label_tag }}
          </td>
          <td>
            {{ form.settings }}
          </td>
          <td>
            {{ form.settings.errors }}
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td colspan=2>
            {{ form.settings.help_text }}
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td colspan=2>
            <input type="submit" value="Upload" /></p>
          </td>
        </tr>
      </table>
    </form>
      <hr />

        <table border="2" cellpadding="5" align=center>
          <TR>
            <TH colspan="3" align=justify><b>Please take note of the orientation of the target template below and ensure yours is set correct in relation.</b> <br />
            </TH>
          </TR>
          <TR>
            <TH align=center>Drosophila Melanogaster Female Laval Brain<TH align=center>Drosophila Melanogaster Female Adult Brain<TH align=center>Drosophila Melanogaster Female Adult Ventral Nerve Complex
            </TH>
          </TR>
          <TR>
            <TH align=center>-<TH align=center><img src="/static/BRAIN.png"/><TH align=center><img src="/static/TAG.png"/>
            </TH>
          </TR>
          <TR>
            <TH colspan="3" align=justify>Axis markers indicate: L-left/R-right, A-anterior/P-posterior, I-inferior(ventral)/S-superior(dorsal)) <br /><br />
              <i>Note: for technical reasons you'll notice the head is treated as tiped/facing down (ventral/inferior)</i>
            </TH>
          </TR>
        </table>

    {% endblock %}
  </div>
{% endblock %}
